# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [7]:
data={} #empty dictionary
type(data)

dict

In [8]:
data1=dict() #empty dictionary

In [9]:
data={'Alabama': 'Montgomery',
     'Arizona' : 'Pheonix',
     'Georgia': 'Atlanta',
     'Kentucky' : 'Frankfort',
     'Ohio' : "Salem"}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [10]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [11]:
data['Alabama']

'Montgomery'

In [12]:
data['Louisiana']

KeyError: 'Louisiana'

### Update elements of a dictionary and add new elements

In [13]:
day={1: 'Monday',
    2:'Tuesday',
    4:['Thursday','Friday'],
    5:('Saturday','Sunday')}

In [14]:
day[1]

'Monday'

In [15]:
day[4][1]  #[key],[index]

'Friday'

In [16]:
day[5][0]

'Saturday'

#### Update values as key is unique and immutable, value is mutable

In [17]:
#update sunday to holiday
day[5][1]='Holiday' #tuple update not possible

TypeError: 'tuple' object does not support item assignment

In [18]:
#update thursday to holiday
day[4][0]='Holiday'
print(day)

{1: 'Monday', 2: 'Tuesday', 4: ['Holiday', 'Friday'], 5: ('Saturday', 'Sunday')}

In [19]:
#update monday to holiday
day[1]='Holiday'
day

{1: 'Holiday',
 2: 'Tuesday',
 4: ['Holiday', 'Friday'],
 5: ('Saturday', 'Sunday')}

### `get` and `update` methods

In [20]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [21]:
data.get('Arizona') #.get looks for the key to return the value

'Pheonix'

In [22]:
data.get('Louisiana')# doesnt generate an error - thats how its differnt from access an element by key

In [23]:
#update old value to new and add new key value pair
data.update({'Kentucky':'Louisville', 'Louisiana':'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

In [24]:
data.update({'alabama':'Montgomery'}) #only way to update key
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

### Delete dictionary items using `del` and `pop`

In [25]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [26]:
del data['Alabama']

In [27]:
deleted_state=data.pop('Arizona')
print("Deleted state", deleted_state)

Deleted state Pheonix

In [28]:
data

{'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [29]:
#delete montgomery
deleted_capital=data.pop('alabama')
print(deleted_capital)
data

Montgomery

{'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

In [30]:
del data #deletes entire dict, to keep it use pop

In [31]:
data

NameError: name 'data' is not defined

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [32]:
data={'Alabama': 'Montgomery',
     'Arizona' : 'Pheonix',
     'Georgia': 'Atlanta',
     'Kentucky' : 'Frankfort',
     'Ohio' : "Salem"}

In [33]:
#number pf elements/values in a dictionary
len(data)

5

In [34]:
#extract keys
print(data.keys())

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [35]:
#extract value
print(data.values())

dict_values(['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Salem'])

In [38]:
#item/key value pair
print(data.items())
type(data.items())

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Pheonix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Salem')])

dict_items

### Loop through a dictionary

In [39]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [41]:
#loop through dict keys
for i in data.keys():#unpack dict items
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [43]:
#looping through the values
for j in data.values():
    print("The capital is: ",j)

The capital is:  Montgomery
The capital is:  Pheonix
The capital is:  Atlanta
The capital is:  Frankfort
The capital is:  Salem

In [45]:
#looping through the item 
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Pheonix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Salem')
<class 'tuple'>

In [50]:
#tuple unpacking
for i,j in data.items():
    print("State:",i,"-", "Capital:",j)
    print(type(i),type(j))

State: Alabama - Capital: Montgomery
<class 'str'> <class 'str'>
State: Arizona - Capital: Pheonix
<class 'str'> <class 'str'>
State: Georgia - Capital: Atlanta
<class 'str'> <class 'str'>
State: Kentucky - Capital: Frankfort
<class 'str'> <class 'str'>
State: Ohio - Capital: Salem
<class 'str'> <class 'str'>

### Convert dictionary to lists using `list()` function

In [51]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [52]:
list(data.values())

['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Salem']

In [53]:
tuple(data.keys())

('Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio')

### A List in a Dictionary

In [1]:
fav_language={
    'Jen':['Python','Ruby'],
    'Sarah':['C'],
    'Edward':['Ruby','Java'],
    'Phil':['Python','Haskell']
}

In [4]:
for name, languages in fav_language.items():
    print('\n'+name.title()+'\'s favorite languages are:')
    for i in languages:
        print('\t\t\t'+i.title())

Jen's favorite languages are:
			Python
			Ruby

Sarah's favorite languages are:
			C

Edward's favorite languages are:
			Ruby
			Java

Phil's favorite languages are:
			Python
			Haskell

###  A Dictionary in a Dictionary

In [6]:
user={
    'einstein':{
        'first':'albert',
        'last':'einstein',
        'location':'princeton'
    },
    'mcurie':{
        'first':'marie',
        'last':'curie',
        'location':'paris'
    }
}

In [7]:
user

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [11]:
for username,user_info in user.items():
    print('\nUser Name:', username)
    fullname=user_info['first']+" "+user_info['last']
    location=user_info['location']
    
    print('The full name is:'+ fullname.title())
    print('The location:', location.title())

User Name: einstein
The full name is:Albert Einstein
The location: Princeton

User Name: mcurie
The full name is:Marie Curie
The location: Paris